.hero {
    &:after,
    &:before { 
        height: 40%;
        width: 70%;
        @include media('ipad') { height: 30%;}
    }
    &:after { 
        bottom: 0;
        top: 0;
        right: 0;
        left: initial;
        @include media('ipad') {
            bottom: initial;
            top: 0;
        }
    }
    &:before { 
        top: 0;
        @include media('ipad') {
            top: initial;
            bottom: 1rem;
        }
    }
    &__text {
        text-align: right;
        position: absolute;
        bottom: 2rem;
        right: 1rem;
        @include media('ipad') {
            left: 10%;
            right: initial;
            text-align: left;
            bottom: 5rem;
        }
        @include media('large') {
            bottom: initial;
            top: 3.5rem;
            left: 20%;   
            overflow: hidden;
        }
        p { 
            color: $blue;
            font-weight: 700;
            font-size: 1.2rem;
            @include media('large') { font-size: 2rem;}
        }
        &--animation {
            display: none;
            @include media('large') { display: block;}
        }
        &--one,
        &--two,
        &--three { 
            display: block;
            @include media('large') { display: none;}
        }
    }
    &__stuff {
        margin-left: -1rem;
        &--right { 
            display: none;
            transform: transition;
	        transition-duration: 0.5s;
            @include media('large') { 
                display: block;
                bottom: 0;
                top: -250%;
                right: 5%;
                img { width: 16rem;}
            }
            @include media('1900_screen') { top: -160%;}
        }
        &--left {
            display: none;
            transform: transition;
            transition-duration: 1s;
            @media (min-width: 700px) and (orientation: landscape) {
                img { display: none;}
            }
            @include media('ipad') { 
                display: block;
                left: -2rem;
                bottom: -4rem;
                img { 
                    display: block;
                    width: 17rem;
                }
            }
        }
        &--left,
        &--right {
            @include media('ipad') { position: absolute;}
        }
        img { 
            width: 50%;
            @include media('large') { width: 120%;}
        }
    }
    &__animation {
        @media (min-width: 700px) and (orientation: landscape) {
            text-align: right;
            img { width: 50%;}
        }
        @include media('large') {
            text-align: center;
            img { max-width: 50%;}
        }
    }
}

@keyframes animationFrames {
    0% { transform:  translate(-200px,0px);}
    100% { transform:  translate(200px,0px);}
}


.menu-top {
    .hero__stuff--right {
        @include media('large') { top: -25rem;}
    }
}