<div class="contentGeneral hero" id="home">
    <div class="contentGeneral__wrapper">
        <div class="hero__items hero__animation">
            <img src="../../img/hero_image.svg" alt="">
        </div>
        <div class="hero__items hero__stuff">
            <img src="../../img/hero_forms.png" alt="">
        </div>
    </div>
    <div class="hero__items hero__text">
        <p class="hero__text--one">Contamos Historias</p>
        <p class="hero__text--two">Creamos Experiencias</p>
        <p class="hero__text--three">Provocamos Sentimientos</p>
    </div>
</div>