<div class="contentGeneral hero" id="home">
    <div class="contentGeneral__wrapper">
        <div class="hero__items hero__animation">
            <img src="../../img/hero_image.svg" alt="">
        </div>
        <div class="hero__items hero__stuff--left">
            <img src="../../img/hero_forms.png" alt="">
        </div>
        <div class="hero__items hero__stuff--right">
            <img src="../../img/hero_forms_02.png" alt="">
        </div>
    </div>
    <div class="hero__items hero__text">
        <p class="hero__text--animation"><span class="txt-rotate" data-period="2000" data-rotate='[ "Contamos Historias.", "Creamos Experiencias.", "Provocamos Sentimientos."]'></span></p>
        <p class="hero__text--one">Contamos Historias</p>
        <p class="hero__text--two">Creamos Experiencias</p>
        <p class="hero__text--three">Provocamos Sentimientos</p>
    </div>
</div>