.nosotros {
    transform: transition;
    transition-duration: 2s;
    background-image: url(../img/nosotros_bg_mobile.svg);
    background-color: white;
    background-size: 100%;
    background-position: center 110%;
    align-items: baseline;
    display: flex;
    align-items: center;
    @include media('ipad_port') {
        background-image: url(../img/nosotros_bg_desktop.svg);
        background-position-y: 135%;
    }
    @include media('large') { 
        background-position-y: 400%;
        overflow: hidden;
    }
    @include media('1600_screen') { background-position-y: 300%;}
    @include media('1900_screen') {
        background-size: 140%;
        background-position-x: 10%;
        background-position-y: -150%;
    }
    &:after { 
        bottom: 0;
        height: 9rem;
        display: none;
        //@include media('large') { display: block;}
    }
    &:before { 
        transform: transition;
	    transition-duration: 1s;
        top: 0;
        height: 3.5rem;
        @include media('ipad_port') {
            height: 0;
            width: 90%;
        }
    }
    p { color: $purple;}
    .contentGeneral {
        &__wrapper {
            margin-left: 0;
            transform: transition;
	        transition-duration: 1.5s;
            @include media('large') { opacity: 0;}
            @include media('ipad_port') {
                display: flex;
                flex-flow: row wrap;
                padding: 0;
                border: none;
            }        
        }
    }
    .title {
        @include media('ipad_port') { flex: 1 100%;}
    }
    &__desktop {
        @include media('ipad_port') { flex: 1 50%;}    
        &--somos {
            display: none;
            @include media('ipad_port') {
                display: flex;
                align-items: center;
                h2 { 
                    font-size: 1.2rem;
                    color: $purple;
                    text-transform: uppercase;
                }
                &--p {
                    transform: transition;
	                transition-duration: 2.5s;
                    padding-left: 1rem;
                    margin-left: 1rem;
                    border-left: 1px solid $pink;
                    margin-bottom: 1rem;
                }
            }
        }   
    }
    &__mobile {
        &--somos {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 2rem;
            margin-top: 3rem;
            @include media('ipad_port') { display: none;}
            p {
                flex: 1 0 30%;
                padding: 0.5rem;
                border: 1px solid $purple;
                margin: 1%;
                display: flex;
                align-items: center;
                min-height: 6rem;
                font-size: 0.8rem;
                text-align: center;
                justify-content: center;
                &.nosotros__mobile--title {
                    transform: rotate(-20deg);
                    background: $purple;
                    color: white;
                    font-weight: 700;
                    position: relative;
                    bottom: 1rem;
                    right: 1rem;
                }
                &.nosotros__mobile--vacio {
                    color: $pink;
                    font-weight: 500;
                }
            }
        }
    }
    &__icono {
        @include media('ipad_port') {
            flex: 1 50%;
            position: relative;
            span {
                box-shadow: 7px 7px 20px 0px rgba(50, 50, 50, 0.32);
                transform: rotate(45deg);
                width: 15rem;
                height: 15rem;
                position: absolute;
                top: 10%;
                background-color: $purple;
            }
        }
    }
    &__box {
        &--one { 
            left: 40%;
            &:after,
            &:before {
                position: absolute;
                content: " ";
                display: none;
            }
            &:after {
                transform: rotate(-45deg);
                border-top: 1px solid $blue;
                border-bottom: 1px solid $blue;
                //background: red;
                @include media('large') {
                    height: 142%;
                    right: -206%;
                    bottom: 85%;
                    opacity: 0.5;
                    width: 300%;
                }

            }
            &::before {
                transform: rotate(-45deg);
                @include media('large') {
                    height: 1px;
                    right: -255%;
                    bottom: 205%;
                    width: 300%;
                    background: $blue;
                }
            }
            @include media('ipad_port') {
                &:after,
                &:before { display: block;}   
            }
        }
        &--two { left: 30%;}
        &--three { 
            left: 20%;
            @include media('ipad_port') {
                &::after {
                    position: absolute;
                    content: " ";
                    width: 80%;
                    height: 80%;
                    left: 10%;
                    top: 10%;
                    transform: rotate(-45deg);
                    background: {
                        image: url(../img/brand_short_white.svg);
                        position: center center;
                        size: 80%;
                        repeat: no-repeat;
                    }
                }
            }
        }
    }
}