<div class="contentGeneral nosotros" id="nosotros">
    <div class="contentGeneral__wrapper">
        <div class="title">
            <h2>nosotros</h2>
        </div>        
        <div class="nosotros__desktop">
            <p>Kymera es un estudio especializado en contenidos y experiencias con enfoque transmedia. </p>
            <div class="nosotros__desktop--somos">
                <h2>somos</h2>
                <div class="nosotros__desktop--somos--p">
                    <p>la sorpresa en la galleta china, </p>
                    <p>la melodía pegajosa, </p>
                    <p>la tapa premiada, </p>
                    <p>la olla al final del arco iris, </p>
                    <p>el mejor amigo del hombre, </p>
                    <p>el tornillo que te falta. </p>
                </div>
            </div>
            <div class="nosotros__mobile--somos">
                <p class="nosotros__mobile--title">Somos</p>
                <p class="nosotros__mobile--text">la sorpresa en la galleta china</p>
                <p class="nosotros__mobile--vacio">icono</p>
                <p class="nosotros__mobile--vacio">icono</p>
                <p class="nosotros__mobile--text">la olla al final del arco iris</p>
                <p class="nosotros__mobile--vacio">icono</p>
                <p class="nosotros__mobile--text">la melodía pegajosa</p>
                <p class="nosotros__mobile--text">la tapa premiada</p>
                <p class="nosotros__mobile--vacio">icono</p>
                <p class="nosotros__mobile--text">el mejor amigo del hombre</p>
                <p class="nosotros__mobile--vacio">icono</p>
                <p class="nosotros__mobile--text">el tornillo que te falta</p>
            </div>
            <p>Si crees en el poder de la imaginación y la importancia de las cosas bien hechas, nos encantaría trabajar contigo.</p>
        </div>

        <div class="nosotros__text nosotros--desktop"></div>
        <div class="nosotros__icono">
            <div class="nosotros__box">
                <span class="nosotros__box--one"></span>
                <span class="nosotros__box--two"></span>
                <span class="nosotros__box--three"></span>
            </div>
        </div>
    </div>
</div>