.team {
    padding-top: 0;
    align-items: baseline;
    &:after { 
        bottom: 0;
        height: 9rem;
        display: none;
    }
    &:before { 
        top: 0;
        height: 9rem;
    }
    .grid {
        @include media('large') {
            padding-left: 25%;
            background-image: url(../img/brand_letters_white.svg);
            background-position: 1rem 10rem;
            background-repeat: no-repeat;
            background-size: 20%;
        }
    }
}