<div class="contentGeneral team" id="team">
    <div class="contentGeneral__wrapper">
        <div class="title__box">
            <span class="title__box--one"></span>
            <span class="title__box--two"></span>
            <h2 class="title__box--title">equipo</h2>
        </div>
        <div class="grid">
            <ul class="grid__team">
                <li class="grid__item">
                    <div class="grid__item--image">
                        <div class="grid__item--image--img">
                            <img src="https://idfive.com/wp-content/uploads/2014/10/idfivers_team_photos_Nick.jpg" alt="">
                        </div>
                        <div class="grid__item--title">
                            <p class="grid__item--title--name">Carlos Matamoros</p>
                            <p class="grid__item--title--position">Designer</p>
                        </div>
                    </div>
                    <div class="grid__item--captions">
                        <p>In nulla velit, pharetra nec fringilla ac, placerat nec felis. Sed eget elit quis diam pretium euismod. Mauris quis mattis turpis. Aliquam ligula risus, fringilla eget sapien ut, venenatis tincidunt ligula. Duis semper lorem placerat diam tempus hendrerit. Suspendisse potenti. Suspendisse pretium dapibus porta.</p>
                        <p>Aliquam erat volutpat. Nam et nunc a erat facilisis semper. Nulla facilisi. Sed rhoncus ut diam non pellentesque. Praesent laoreet lectus nec justo scelerisque elementum. Maecenas vestibulum, tortor et egestas commodo, dolor sem mattis lacus, id imperdiet nunc neque vel ex. Phasellus varius porta pellentesque.</p>
                    </div>
                </li>
                <li class="grid__item">
                    <div class="grid__item--image">
                        <div class="grid__item--image--img">
                            <img src="https://idfive.com/wp-content/uploads/2014/10/idfivers_team_photos_Nick.jpg" alt="">
                        </div>
                        <div class="grid__item--title">
                            <p class="grid__item--title--name">Carlos Matamoros</p>
                            <p class="grid__item--title--position">Designer</p>
                        </div>
                    </div>
                    <div class="grid__item--captions">
                        <p>In nulla velit, pharetra nec fringilla ac, placerat nec felis. Sed eget elit quis diam pretium euismod. Mauris quis mattis turpis. Aliquam ligula risus, fringilla eget sapien ut, venenatis tincidunt ligula. Duis semper lorem placerat diam tempus hendrerit. Suspendisse potenti. Suspendisse pretium dapibus porta.</p>
                        <p>Aliquam erat volutpat. Nam et nunc a erat facilisis semper. Nulla facilisi. Sed rhoncus ut diam non pellentesque. Praesent laoreet lectus nec justo scelerisque elementum. Maecenas vestibulum, tortor et egestas commodo, dolor sem mattis lacus, id imperdiet nunc neque vel ex. Phasellus varius porta pellentesque.</p>
                    </div>
                </li>
                <li class="grid__item">
                    <div class="grid__item--image">
                        <div class="grid__item--image--img">
                            <img src="https://idfive.com/wp-content/uploads/2014/10/idfivers_team_photos_Nick.jpg" alt="">
                        </div>
                        <div class="grid__item--title">
                            <p class="grid__item--title--name">Carlos Matamoros</p>
                            <p class="grid__item--title--position">Designer</p>
                        </div>
                    </div>
                    <div class="grid__item--captions">
                        <p>In nulla velit, pharetra nec fringilla ac, placerat nec felis. Sed eget elit quis diam pretium euismod. Mauris quis mattis turpis. Aliquam ligula risus, fringilla eget sapien ut, venenatis tincidunt ligula. Duis semper lorem placerat diam tempus hendrerit. Suspendisse potenti. Suspendisse pretium dapibus porta.</p>
                        <p>Aliquam erat volutpat. Nam et nunc a erat facilisis semper. Nulla facilisi. Sed rhoncus ut diam non pellentesque. Praesent laoreet lectus nec justo scelerisque elementum. Maecenas vestibulum, tortor et egestas commodo, dolor sem mattis lacus, id imperdiet nunc neque vel ex. Phasellus varius porta pellentesque.</p>
                    </div>
                </li>
                <li class="grid__item">
                    <div class="grid__item--image">
                        <div class="grid__item--image--img">
                            <img src="https://idfive.com/wp-content/uploads/2014/10/idfivers_team_photos_Nick.jpg" alt="">
                        </div>
                        <div class="grid__item--title">
                            <p class="grid__item--title--name">Carlos Matamoros</p>
                            <p class="grid__item--title--position">Designer</p>
                        </div>
                    </div>
                    <div class="grid__item--captions">
                        <p>In nulla velit, pharetra nec fringilla ac, placerat nec felis. Sed eget elit quis diam pretium euismod. Mauris quis mattis turpis. Aliquam ligula risus, fringilla eget sapien ut, venenatis tincidunt ligula. Duis semper lorem placerat diam tempus hendrerit. Suspendisse potenti. Suspendisse pretium dapibus porta.</p>
                        <p>Aliquam erat volutpat. Nam et nunc a erat facilisis semper. Nulla facilisi. Sed rhoncus ut diam non pellentesque. Praesent laoreet lectus nec justo scelerisque elementum. Maecenas vestibulum, tortor et egestas commodo, dolor sem mattis lacus, id imperdiet nunc neque vel ex. Phasellus varius porta pellentesque.</p>
                    </div>
                </li>
                <li class="grid__item">
                    <div class="grid__item--image">
                        <div class="grid__item--image--img">
                            <img src="https://idfive.com/wp-content/uploads/2014/10/idfivers_team_photos_Nick.jpg" alt="">
                        </div>
                        <div class="grid__item--title">
                            <p class="grid__item--title--name">Carlos Matamoros</p>
                            <p class="grid__item--title--position">Designer</p>
                        </div>
                    </div>
                    <div class="grid__item--captions">
                        <p>In nulla velit, pharetra nec fringilla ac, placerat nec felis. Sed eget elit quis diam pretium euismod. Mauris quis mattis turpis. Aliquam ligula risus, fringilla eget sapien ut, venenatis tincidunt ligula. Duis semper lorem placerat diam tempus hendrerit. Suspendisse potenti. Suspendisse pretium dapibus porta.</p>
                        <p>Aliquam erat volutpat. Nam et nunc a erat facilisis semper. Nulla facilisi. Sed rhoncus ut diam non pellentesque. Praesent laoreet lectus nec justo scelerisque elementum. Maecenas vestibulum, tortor et egestas commodo, dolor sem mattis lacus, id imperdiet nunc neque vel ex. Phasellus varius porta pellentesque.</p>
                    </div>
                </li>
                <li class="grid__item">
                    <div class="grid__item--image">
                        <div class="grid__item--image--img">
                            <img src="https://idfive.com/wp-content/uploads/2014/10/idfivers_team_photos_Nick.jpg" alt="">
                        </div>
                        <div class="grid__item--title">
                            <p class="grid__item--title--name">Carlos Matamoros</p>
                            <p class="grid__item--title--position">Designer</p>
                        </div>
                    </div>
                    <div class="grid__item--captions">
                        <p>In nulla velit, pharetra nec fringilla ac, placerat nec felis. Sed eget elit quis diam pretium euismod. Mauris quis mattis turpis. Aliquam ligula risus, fringilla eget sapien ut, venenatis tincidunt ligula. Duis semper lorem placerat diam tempus hendrerit. Suspendisse potenti. Suspendisse pretium dapibus porta.</p>
                        <p>Aliquam erat volutpat. Nam et nunc a erat facilisis semper. Nulla facilisi. Sed rhoncus ut diam non pellentesque. Praesent laoreet lectus nec justo scelerisque elementum. Maecenas vestibulum, tortor et egestas commodo, dolor sem mattis lacus, id imperdiet nunc neque vel ex. Phasellus varius porta pellentesque.</p>
                    </div>
                </li>
                <li class="grid__item">
                    <div class="grid__item--image">
                        <div class="grid__item--image--img">
                            <img src="https://idfive.com/wp-content/uploads/2014/10/idfivers_team_photos_Nick.jpg" alt="">
                        </div>
                        <div class="grid__item--title">
                            <p class="grid__item--title--name">Carlos Matamoros</p>
                            <p class="grid__item--title--position">Designer</p>
                        </div>
                    </div>
                    <div class="grid__item--captions">
                        <p>In nulla velit, pharetra nec fringilla ac, placerat nec felis. Sed eget elit quis diam pretium euismod. Mauris quis mattis turpis. Aliquam ligula risus, fringilla eget sapien ut, venenatis tincidunt ligula. Duis semper lorem placerat diam tempus hendrerit. Suspendisse potenti. Suspendisse pretium dapibus porta.</p>
                        <p>Aliquam erat volutpat. Nam et nunc a erat facilisis semper. Nulla facilisi. Sed rhoncus ut diam non pellentesque. Praesent laoreet lectus nec justo scelerisque elementum. Maecenas vestibulum, tortor et egestas commodo, dolor sem mattis lacus, id imperdiet nunc neque vel ex. Phasellus varius porta pellentesque.</p>
                    </div>
                </li>
                <li class="grid__item">
                    <div class="grid__item--image">
                        <div class="grid__item--image--img">
                            <img src="https://idfive.com/wp-content/uploads/2014/10/idfivers_team_photos_Nick.jpg" alt="">
                        </div>
                        <div class="grid__item--title">
                            <p class="grid__item--title--name">Carlos Matamoros</p>
                            <p class="grid__item--title--position">Designer</p>
                        </div>
                    </div>
                    <div class="grid__item--captions">
                        <p>In nulla velit, pharetra nec fringilla ac, placerat nec felis. Sed eget elit quis diam pretium euismod. Mauris quis mattis turpis. Aliquam ligula risus, fringilla eget sapien ut, venenatis tincidunt ligula. Duis semper lorem placerat diam tempus hendrerit. Suspendisse potenti. Suspendisse pretium dapibus porta.</p>
                        <p>Aliquam erat volutpat. Nam et nunc a erat facilisis semper. Nulla facilisi. Sed rhoncus ut diam non pellentesque. Praesent laoreet lectus nec justo scelerisque elementum. Maecenas vestibulum, tortor et egestas commodo, dolor sem mattis lacus, id imperdiet nunc neque vel ex. Phasellus varius porta pellentesque.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>