.servicios {
    padding: 2rem 0 0;
    background-color: $blue;
    @include media('ipad') { 
        padding-right: 8%;
        margin-bottom: -3rem;
    }
    @include media('large') {
        padding-top: 0;
        margin-bottom: 0;
        display: flex;
        align-items: stretch;
        padding-right: 5%;
    }
    .contentGeneral {
        &__wrapper {
            display: flex;  
            flex-flow: row wrap;
            align-items: center;
            @include media('ipad') { 
                display: block;
                padding-left: 30%;
            }
            @include media('large') {
                display: flex;
                flex-flow: column;
            }
        }
    }
    .title__round {
        flex: 0 50%;
        order: 1;
        @include media('ipad') {
            position: absolute;
            height: 100%;
            width: 30%;
            left: 0;
            top: 0;
            h2 {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -2.5rem;
                margin-left: -5rem;
            }
        }
    }
    &__description {
        flex: 0 50%;
        order: 2;
        @include media('large') {
            display: table;
            width: 100%;
            height: 50%;
            transform: skewx(35deg);
            border-left: 1px solid white;
            margin-left: -30%;
            padding: 2rem;
            background: $purple;
            p { 
                display: table-cell;
                vertical-align: middle;
                transform: skewx(-35deg);
                color: white !important;
            }
        }
    }
    .grid {
        margin-top: 2rem;
        flex: 1 100%;
        order: 3;
        background: $purple;
        @include media('large') {
            display: table;
            width: 100%;
            height: 50%;
            margin: 0;
            background: none;
        }
        &__item {
            flex: 0 0 49%;
            padding: 2rem;
            margin: 0;
            border-bottom: 1px solid white;
            @include media('ipad') { text-align: center;}
            @include media('large') {
                transform: skewx(-35deg);
                border-right: 1px solid white;
                flex: 0 0 25%;
                border-top: 1px solid white;
                display: flex;
                align-items: center;
                justify-content: center;
                &:first-child { 
                    border-left: 1px solid white;
                    margin-left: -15%;
                }
            }
            &:nth-child(odd) { border-right: 1px solid white;}
            &--title {
                margin: 0 0 1rem;
                text-align: left;
                @include media('ipad') { text-align: center;}
                @include media('large') {
                    transform: skewx(35deg);
                    margin: 0;
                }
                h3 {
                    color: white;
                    font-weight: 100;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                }
            }
            &--captions {
                display: block;
                @include media('ipad') { display: none;}
            }
            ul {
                list-style: none;
                padding: 0;
            }
        }
        &__servicios {
            @include media('large') { height: 100%;}
        }
    }
    &__description {
        padding-right: 1rem;
        text-align: right;
        p { color: $purple;}
    }
    // &:after { 
    //     bottom: 0;
    //     height: 9rem;
    //     display: none;
    // }
    // &:before { 
    //     top: 0;
    //     height: 9rem;
    // }
}