<div class="contentGeneral servicios" id="servicios">
    <div class="contentGeneral__wrapper">
        <div class="title__round">
            <h2 class="title__round--title">servicios</h2>
        </div>
        <div class="servicios__description">
            <p>En cines, televisores, celulares, redes sociales, páginas web, estadios, auditorios, calles, paredes, locales, vitrinas, andenes, ropa o papel, contamos historias, creamos experiencias y provocamos sentimientos, 24 horas al día, 7 días a la semana.</p>
        </div>
        <div class="grid">
            <ul class="grid__servicios">
                <li class="grid__item">
                    <div class="grid__item--title">
                        <h3>audiovisual</h3>
                    </div>
                    <div class="grid__item--captions">
                        <ul>
                            <li><p>Largometrajes</p></li>
                            <li><p>cortometrajes</p></li>
                            <li><p>documentales</p></li>
                            <li><p>comerciales</p></li>
                            <li><p>corporativos</p></li>
                            <li><p>videoclips</p></li>
                            <li><p>animación</p></li>
                            <li><p>series web</p></li>
                            <li><p>fotografía</p></li>
                        </ul>
                    </div>
                </li>
                <li class="grid__item">
                    <div class="grid__item--title">
                        <h3>DISEÑO</h3>
                    </div>
                    <div class="grid__item--captions">
                        <ul>
                            <li><p>Editorial</p></li>
                            <li><p>identidad</p></li>
                            <li><p>empaques</p></li>
                            <li><p>multimedia</p></li>
                            <li><p>ilustración</p></li>
                            <li><p>merchandising</p></li>
                            <li><p>espacios</p></li>
                        </ul>
                    </div>
                </li>
                <li class="grid__item">
                    <div class="grid__item--title">
                        <h3>EXPERIENCIAL</h3>
                    </div>
                    <div class="grid__item--captions">
                        <ul>
                            <li><p>Espectáculos multimedia</p></li>
                            <li><p>VR/AR</p></li>
                            <li><p>eventos y lanzamientos</p></li>
                            <li><p>DOOH</p></li>
                            <li><p>street art</p></li>
                        </ul>
                    </div>
                </li>
                <li class="grid__item">
                    <div class="grid__item--title">
                        <h3>Digital</h3>
                    </div>
                    <div class="grid__item--captions">
                        <ul>
                            <li><p>SEO</p></li>
                            <li><p>SEM</p></li>
                            <li><p>social media</p></li>
                            <li><p>influenciadores</p></li>
                            <li><p>landing pages</p></li>
                            <li><p>email marketing</p></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>