<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link media="all" rel="stylesheet" href="{{ path '/css/index.css' }}">
        <title>Kymera Studios</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        <link rel="stylesheet" href="https://unpkg.com/flickity-fullscreen@1.0.1/fullscreen.css">
    </head>

    <body>

        {{{ yield }}}

        <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
        <script src="https://2-online.ru/files/public/inside/js/mediaplayer.yt_api.js"></script>
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
        <script src="{{ path '/js/index.js' }}"></script>

        <script>
            $('.carousel').flickity({
                // options
                cellAlign: 'left',
                contain: true,
                // groupCells: true,
                autoPlay: true
            });
        </script>
    </body>

</html>