<div class="contentGeneral clientes" id="clientes">
    <div class="contentGeneral__wrapper">
        <div class="title__linea">
            <h2 class="title__linea--title">clientes</h2>
        </div>
        <div class="grid carousel-container">
            <div class="carousel" data-flickity='{ "autoPlay": true }'>
                <li class="grid__item carousel-cell">
                    <img src="../../img/logo_01.jpg" alt="">
                </li>
                <li class="grid__item carousel-cell">
                    <img src="../../img/logo_02.jpg" alt="">
                </li>
                <li class="grid__item carousel-cell">
                    <img src="../../img/logo_03.jpg" alt="">
                </li>
                <li class="grid__item carousel-cell">
                    <img src="../../img/logo_04.jpg" alt="">
                </li>
                <li class="grid__item carousel-cell">
                    <img src="../../img/logo_05.jpg" alt="">
                </li>
                <li class="grid__item carousel-cell">
                    <img src="../../img/logo_06.jpg" alt="">
                </li>
                <li class="grid__item carousel-cell">
                    <img src="../../img/logo_07.jpg" alt="">
                </li>
                <li class="grid__item carousel-cell">
                    <img src="../../img/logo_08.jpg" alt="">
                </li>
                <li class="grid__item carousel-cell">
                    <img src="../../img/logo_09.jpg" alt="">
                </li>
                <li class="grid__item carousel-cell">
                    <img src="../../img/logo_10.jpg" alt="">
                </li>
            </div>
        </div>
    </div>
</div>