<p style="display: none;" id="css-support-msg">This browser supports the <code>scroll-behavior</code> property</p>
<nav class="menu">
    <div class="brand">
        <a href="#home">
            <img src="../../img/brand_white.svg" alt="">
        </a>
    </div>
    <span class="menu__hamburger" id="menu-open">
        <svg class="ico__open" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>
        <svg class="ico__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg>
    </span>
    <div class="menu__intern">
        <div class="menu__intern__social">
            <a href="" class="btn btn--social">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3 8h-1.35c-.538 0-.65.221-.65.778v1.222h2l-.209 2h-1.791v7h-3v-7h-2v-2h2v-2.308c0-1.769.931-2.692 3.029-2.692h1.971v3z"></path></svg>
            </a>
            <a href="" class="btn btn--social">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.066 9.645c.183 4.04-2.83 8.544-8.164 8.544-1.622 0-3.131-.476-4.402-1.291 1.524.18 3.045-.244 4.252-1.189-1.256-.023-2.317-.854-2.684-1.995.451.086.895.061 1.298-.049-1.381-.278-2.335-1.522-2.304-2.853.388.215.83.344 1.301.359-1.279-.855-1.641-2.544-.889-3.835 1.416 1.738 3.533 2.881 5.92 3.001-.419-1.796.944-3.527 2.799-3.527.825 0 1.572.349 2.096.907.654-.128 1.27-.368 1.824-.697-.215.671-.67 1.233-1.263 1.589.581-.07 1.135-.224 1.649-.453-.384.578-.87 1.084-1.433 1.489z"></path></svg>
            </a>
        </div>
        <div class="menu__intern__navegation" id="toc">
            <div class="menu__intern--right">
                <li class="menu__item"><a class="icon-down scroll" data-speed="1000" href="#home">Home</a></li>
                <li class="menu__item"><a class="icon-down scroll" data-speed="1000" href="#nosotros">Nosotros</a></li>
                <li class="menu__item"><a class="icon-down scroll" data-speed="1000" href="#team">Equipo</a></li>
                <li class="menu__item"><a class="icon-down scroll" data-speed="1000" href="#servicios">Servicios</a></li>
                <li class="menu__item"><a class="icon-down scroll" data-speed="1000" href="#clientes">Clientes</a></li>
                <li class="menu__item"><a class="icon-down scroll" data-speed="1000" href="#footer">Contacto</a></li>
            </div>
        </div>
    </div>
</nav>