<p style="display: none;" id="css-support-msg">This browser supports the <code>scroll-behavior</code> property</p>
<nav class="menu">
    <div class="brand">
        <a href="#home">
            <img src="../../img/brand_short_white.svg" alt="">
        </a>
    </div>
    <span class="menu__hamburger" id="menu-open">
        <svg class="ico__open" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>
        <svg class="ico__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg>
    </span>
    <span class="menu__porta">
        <span>porta</span><span>folio</span>
    </span>
    <div class="menu__intern">
        <div class="menu__intern__navegation" id="toc">
            <div class="menu__intern--right">
                <li class="menu__item"><a class="icon-down scroll" data-speed="1000" href="#home">Home</a></li>
                <li class="menu__item"><a class="menu--porta" href="#">Portafolio</a></li>
                <li class="menu__item"><a class="icon-down scroll" data-speed="1000" href="#nosotros">Nosotros</a></li>
                <li class="menu__item"><a class="icon-down scroll" data-speed="1000" href="#team">Equipo</a></li>
                <li class="menu__item"><a class="icon-down scroll" data-speed="1000" href="#servicios">Servicios</a></li>
                <li class="menu__item"><a class="icon-down scroll" data-speed="1000" href="#clientes">Clientes</a></li>
                <li class="menu__item"><a class="icon-down scroll" data-speed="1000" href="#footer">Contacto</a></li>
            </div>
        </div>
    </div>
</nav>